<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aliakbar.android.prod">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/product_main_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".stock.StockActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".stock.StockAddActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".stock.StockDetailActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".customer.CustomerActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".customer.CustomerAddActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".customer.CustomerDetailActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".customer.CustomerFilterActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".staff.StaffActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".staff.StaffAddActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".staff.StaffDetailActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".bill.CartActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".bill.BillActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".bill.AddCart"
            android:launchMode="singleTask" />
        <activity android:name=".bill.CartAdjustActivity" />
        <activity android:name=".sales.SalesActivity"></activity>
    </application>

</manifest>